<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />\
    <link rel="stylesheet" href="css/style.css" />
    <title>Abput</title>
  </head>
  <body>
    {{>header}}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, eligendi blanditiis in similique, ut provident quo minima nobis expedita consequuntur mollitia libero ab distinctio repellat animi quis eos accusantium corrupti? Vitae dignissimos modi commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad qui laborum incidunt molestiae quis modi ducimus voluptatem delectus eos molestias possimus voluptates corrupti, dolorem ea sunt exercitationem ipsum, eveniet perspiciatis! Neque asperiores similique beatae, dolorem illum quaerat quasi, placeat qui aut deleniti esse odit, soluta minus sed doloremque nulla. Tempore repudiandae delectus eaque fugiat porro.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, eligendi blanditiis in similique, ut provident quo minima nobis expedita consequuntur mollitia libero ab distinctio repellat animi quis eos accusantium corrupti? Vitae dignissimos modi commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ad qui laborum incidunt molestiae quis modi ducimus voluptatem delectus eos molestias possimus voluptates corrupti, dolorem ea sunt exercitationem ipsum, eveniet perspiciatis! Neque asperiores similique beatae, dolorem illum quaerat quasi, placeat qui aut deleniti esse odit, soluta minus sed doloremque nulla. Tempore repudiandae delectus eaque fugiat porro.</p>
    <h1>this is about CityName :- {{city}}</h1>
  </body>
</html>