<div class="credit">created by
        <a
          href="https://www.youtube.com/channel/UCK5YMqyy_fjAtwgu9hjxXJg"
          target="_blank"
        ><span>Pranav Raj</span> | all rights reserved</a>
      </div>
    </section>
<footer class="footer">
<h1>hello jay goswami</h1>
</footer>
    <!-- footer section ends -->

    <script src="js/main.js"></script>